body {
  background-color: #1d2d50;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  line-height: 2;
}

.nav-container-custom-styling {
  margin-top: 25%;
  margin-right: 10px;
  padding: 0;
  width: 150px;
}

.hamburger-custom-styling {
  background-color: #1d2d50;
}

#section-title {
  color: #fcdab7;
}

#section-title:hover {
  box-shadow: 0px 5px 15px inset #ffdd93;
}

/* text formatting */
h1 {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-size: 2rem;
  margin: 0.83rem 0 0.83rem 0;
  text-align: left;
}

h3 {
  font-family: 'Merriweather', serif;
  font-weight: lighter;
  font-size: 1.17rem;
  margin: 1rem 0 1rem 0;
}

.jobs h3 {
  font-size: 1.4rem;
  margin: 0;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin: 1.33rem 0 1.33rem 0;
  /* font-size: 100%; */
}

p {
  margin: 1rem 0 1rem 0;
  text-align: left;
}

/*80584d
/* div formatting */
.intro {
  /* width: 50%; */
  /* padding-bottom: 50px; */
  margin: 0 auto 0 auto;
  padding: 3% 25% 3%;
  color: #fcdab7;
}

.intro-image {
  width: 100%;
}

.about, .reflections, .contact {
  /* width: 50%; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  margin: 0 auto 0 auto;
  padding: 5% 25%;
  background-color: #545447;
  color: #fcdab7;
}

.about-image {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.ruminations, .skills {
  /* width: 50%; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  margin: 0 auto 0 auto;
  padding: 5% 25%;
  background-color: #ffdd93;
  color: #545447;
}

.ruminations-carousel {
  /* width: 50%; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  margin: 0 auto 0 auto;
  padding: 0 25% 5%;
  background-color: #ffdd93;
  color: #545447;
}

.reflections {
  text-align: left;
}

.jobs {
  padding-top: 50px;
}

.image-ship {
  width: 100%;
  /* vertical-align: bottom; */
}

.photo-desc {
  margin-top: 0;
}

.image-windfarm {
  width: 100%;
  float: right;
  border-radius: 100%;
}

.image-kellogg {
  width: 100%;
  float: right;
  border-radius: 100%;
}

.image-sculpture {
  width: 100%;
  float: right;
  border-radius: 100%;
}

.photo {
  font-weight: bold;
  color: #ffdd93;
}

.contacts-image {
  width: 100%;
}

/* skills list formatting */
.no-bullet-list-left {
  list-style-type: none;
  text-align: left;
}

.no-bullet-list-right {
  list-style-type: none;
  text-align: left;
}

.column-1 {
  display: inline-block;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
}

.icon-social {
  margin: 0 10px;
}

.icon {
  color: #fcdab7;
}

.icon:hover {
  color: #1d2d50;
}

/* Carousel */
/* .cta-100 {
  margin-top: 7%;
  padding-left: 8%;
  padding-top: 7%;
} */
/* .col-lg-4 {
  padding-bottom: 20px;
} */
.white {
  color: #fff !important;
}

.mt {
  float: left;
  margin-top: -20px;
  padding-top: 20px;
}

.bg-blue-ui {
  background-color: #1d2d50 !important;
}

figure img {
  width: 300px;
}

#blogCarousel {
  padding-bottom: 10%;
}

.blog .carousel-indicators {
  /* left: 0; */
  /* top: -50px; */
  /* height: 50%; */
}

/* The colour of the indicators */
.blog .carousel-indicators li {
  background: #708198;
  /* border-radius: 100%; */
  width: 8px;
  height: 1px;
}

.blog .carousel-indicators .active {
  background: #1d2d50;
}

/*
.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
} */
.item-box-blog {
  border: 1px solid #1d2d50;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  /* background-color: #41cb52; */
}

.item-box-blog-date span {
  color: #fcdab7;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration: none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
  text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

/* .mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
} */
.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #ffdd93;
}

@media (max-width: 990px) {
  .item-box-blog {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
